body {
  min-height: 9000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(202, 192, 192);
  background-image: url(img/BG-1.jpg);
  background-position: center;
  background-size: cover;
}

#education {
  /* background-color: #a2d9ff; */
  background-image: url(img/bg_education.png);
  background-position: center;
  background-size: cover;
  margin-top: 5rem;
  margin-left: -2px;
  padding-top: 3rem;
  min-height: 500px;
}

.card {
  margin-bottom: 50px;
}

#education .logo {
  width: 80px;
  position: absolute;
  margin-top: -50px;
  background: white;
  padding: 3px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
  border: 4px solid #d4d4d4;
}

#education .card-body {
  padding-top: 70px;
}

#education .card {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#education .red {
  border-bottom: 4px solid red;
}

#education .yellow {
  border-bottom: 4px solid yellow;
}

#education .blue {
  border-bottom: 4px solid rgb(66, 114, 216);
}

#education .orange {
  border-bottom: 4px solid rgb(233, 147, 18);
}

#skill {
  margin-top: 5rem;
}

.progress-wrap {
  position: relative;
  margin-bottom: 50px;
}

.progress-wrap h3 {
  margin-bottom: 0;
}

.col-xs-3 {
  width: 25%;
}
